---
import '@styles/global.css';
import { Image } from 'astro:assets';
import avatar from '@assets/images/avatar-tyler.jpg';
import SocialLink from '@components/SocialLink.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Social links profile</title>

		<!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->

		<style>
			.attribution {
				font-size: 11px;
				text-align: center;
			}
			.attribution a {
				color: hsl(228, 45%, 44%);
			}
		</style>
	</head>
	<body class="bg-social-grey-900">
		<main class="flex h-svh flex-col items-center justify-center">
			<article class="bg-social-grey-800 flex flex-col gap-4 rounded-xl p-6">
				<Image
					src={avatar}
					alt={'avatar image'}
					height={64}
					class="mx-auto rounded-full"
				/>
				<div class="text-center">
					<h1 class="text-2xl font-bold text-white">Tyler Mykkanen</h1>
					<h2 class="text-social-green font-bold">Albert Lea, MN</h2>
					<p class="font-light text-white">
						"Front-end developer and avid reader."
					</p>
				</div>
				<ul class="flex flex-col gap-4">
					<SocialLink title="Github" url="#" />
					<SocialLink title="Frontend Mentor" url="#" />
					<SocialLink title="LinkedIn" url="#" />
					<SocialLink title="Twitter" url="#" />
					<SocialLink title="Instagram" url="#" />
				</ul>
			</article>
		</main>

		<div class="attribution">
			Challenge by <a
				href="https://www.frontendmentor.io?ref=challenge"
				target="_blank">Frontend Mentor</a
			>. Coded by <a href="https://github.com/tmykkanen">Tyler Mykkanen</a>.
		</div>
	</body>
</html>
