---
import '@styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Social links profile</title>

		<!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->

		<style>
			.attribution {
				font-size: 11px;
				text-align: center;
			}
			.attribution a {
				color: hsl(228, 45%, 44%);
			}
		</style>
	</head>
	<body>
		<h1 class="text-2xl font-bold text-green-600">Astro</h1>
		<p class="text-xl font-light text-amber-500">Hello world</p>
		Jessica Randall London, United Kingdom "Front-end developer and avid reader."
		GitHub Frontend Mentor LinkedIn Twitter Instagram
		<div class="attribution">
			Challenge by <a
				href="https://www.frontendmentor.io?ref=challenge"
				target="_blank">Frontend Mentor</a
			>. Coded by <a href="https://github.com/tmykkanen">Tyler Mykkanen</a>.
		</div>
	</body>
</html>
