---
import '@styles/global.css';
import { Image } from 'astro:assets';
import avatar from '@assets/images/avatar-tyler.jpg';
import SocialLink from '@components/SocialLink.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Social links profile</title>
	</head>
	<body
		class="bg-social-grey-900 flex h-svh flex-col items-center justify-center gap-10"
	>
		<main class="">
			<article
				class="bg-social-grey-800 flex flex-col rounded-xl p-6 md:min-w-[384px] md:p-10"
			>
				<Image
					src={avatar}
					alt={'avatar image'}
					height={96}
					class="mx-auto mb-6 rounded-full"
				/>
				<div class="text-center">
					<h1 class="text-xl text-white">Tyler Mykkanen</h1>
					<h2 class="text-social-green mb-6 text-sm font-bold">
						Albert Lea, MN
					</h2>
					<p class="mb-6 text-sm font-light text-white">
						"Front-end developer and avid reader."
					</p>
				</div>
				<ul class="flex flex-col gap-4">
					<SocialLink title="Github" url="#" />
					<SocialLink title="Frontend Mentor" url="#" />
					<SocialLink title="LinkedIn" url="#" />
					<SocialLink title="Twitter" url="#" />
					<SocialLink title="Instagram" url="#" />
				</ul>
			</article>
		</main>
		<footer>
			<div class="text-social-grey-700 text-sm">
				Challenge by <a
					href="https://www.frontendmentor.io?ref=challenge"
					target="_blank"
					class="hover:text-social-green underline">Frontend Mentor</a
				>. Coded by <a
					href="https://github.com/tmykkanen"
					class="hover:text-social-green underline">Tyler Mykkanen</a
				>.
			</div>
		</footer>
	</body>
</html>
